<div>
    <h2>{{data.dialogType}} User</h2>
    <form  #userForm = "ngForm">
        <div style="width: 100%;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>User Name</mat-label>
                <input placeholder="Please enter User Name" matInput required [(ngModel)]="data.userDetails.userName" name="userName" #userName = "ngModel" [disabled] = "data.userDetails.userId>0?true:false">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <!-- <mat-hint>Like: Test, Prod, Dev</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;" style="display: none;">
                <mat-label>User Id</mat-label>
                <input placeholder="Please enter User Id" matInput [(ngModel)]="data.userDetails.userId" name="userId" #userId = "ngModel" >
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <!-- <mat-hint>Like: Test, Prod, Dev</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Password</mat-label>
                <input placeholder="Please enter Password" matInput [type]="hide ? 'password' : 'text'" required name="password" [(ngModel)] = "data.userDetails.password" #password = "ngModel">
                <button type = "button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Email Address</mat-label>
                <input  placeholder="Please enter Email" required matInput [formControl]="email"  type = "email" [(ngModel)]="data.userDetails.email" name="email">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                <!-- <mat-hint *ngIf="emailFormControl.hasError('pattern')"> Please enter a valid email address</mat-hint> -->
            </mat-form-field>
            
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Select an Role</mat-label>
                <mat-select [(ngModel)]="data.userDetails.roleProfile.roleName" required name="roleName" #roleName = "ngModel">
                  <mat-option  *ngFor = "let list of data.roleResonseList" value="{{list.roleName}}">{{list.roleName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Password Expiry Date</mat-label>
                <input matInput [matDatepicker]="picker2" [min]="todayDate" required [(ngModel)] = "data.userDetails.passwordExpDate" name="passwordExpDate" #passwordExpDate = "ngModel" [readonly]="true">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>

        </div>
        <div>
            <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-button [mat-dialog-close]="data.userDetails" cdkFocusInitial [disabled]="!userForm.form.valid || email.invalid">Add</button>
            </mat-dialog-actions>
        </div>
   </form>
</div>