
<div @myInsertRemoveTrigger class="sphc">
    <div class="hdrGC display-flex justify-space align-middle">
        <div class="display-flex rdios">
            <div class="opc7"> <mat-icon>filter_list</mat-icon></div>
            <div class="mat-chip-cntr">
                <mat-chip-list>
                    <mat-chip color="primary" (click) = "addNewEnv('create')"><span>Add User</span> 
                      <mat-icon matChipRemove >person_add</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
            </div>
           
        </div>
        <div class="alIC">
            <mat-icon class="m-l-5  fs-20" [matMenuTriggerFor]="menuC">more_vert</mat-icon>
            <mat-menu #menuC="matMenu">
                <button mat-menu-item [routerLink]="['/role Profile']">Role Profile</button>
                <!-- <button mat-menu-item (click) = "show = 'open'">Filter Data</button> -->
            </mat-menu>
        </div>
    </div>
    <div class="cGc configContainer">

        <div class="addNewBlock">
           <div>
                <!-- <div style="position: relative;">
                    <div class="example-box srch-draggable-box" cdkDrag style="width: 30%;" *ngIf="show == 'open'">
                        <div class="m-b-15 display-flex justify-space hPF">
                            <span class="fs-20">Filter Data</span>
                            <mat-icon style="margin-top: -2px;" (click) = "show = 'close'">close</mat-icon>
                        </div>
                        <div class="drgSInC">
                            <div>
                                <mat-icon>search</mat-icon>
                                <input type="text" placeholder="Search" (keyup)="applyFilter($event)" class="fs-18 text-middle m-l-10 inP">
                            </div>
                        </div>
                    </div>
                </div> -->
              <div class="mat-datatable-contnr" style="position: relative;">
                <!--                
                <mat-spinner color="warn" style="margin:0 auto; " diameter="40" class="mat-spinner-center" *ngIf = "Hideflag"> </mat-spinner>
                <div *ngIf = "!Hideflag && dataSource.filteredData.length ==0" class="no-data-available">No Data Available</div> -->
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- Position Column -->
                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- role Column -->
                <ng-container matColumnDef="roleProfile">
                    <th mat-header-cell *matHeaderCellDef> Role </th>
                    <td mat-cell *matCellDef="let element;  let i=index"> {{element.roleProfile.roleName}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol" >
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element;  let i=index" style="text-align: right;"> 
                        <mat-icon class="m-l-5  fs-20" [matMenuTriggerFor]="menuC" >more_vert</mat-icon>
                        <mat-menu #menuC="matMenu">
                            <button mat-menu-item (click) = "manageUser(i)">Manage User</button>
                            <!-- <button mat-menu-item>Remove User</button> -->
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              
               
              </div>
              <mat-paginator [pageSizeOptions]="[10,20, 30, 50,100]" class="mat-paginator-sticky"></mat-paginator>
           </div>
        </div>
    </div>
</div>

  