<div style="width: 100%;">
  <img src="../../assets/error.png" alt="" width="100" style="display: block; margin: 0 auto; margin-top: 50px;">
  <h1 style="text-align: center; margin-top: 50px;">Error!! Unmatched URL</h1>
  <div [routerLink]="['/dashboard']" style="margin: 0 auto;text-align: center;
  font-size: 25px;
  margin-top: 20px;">Back to Home</div>
</div>