<div>
    <h2>{{data.dialogType}} Role</h2>
    <form  #roleForm = "ngForm">
        <div style="width: 100%;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Role Name</mat-label>
                <input matInput [(ngModel)]="data.roleDetails.roleName" name="roleName" #roleName = "ngModel" required>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </div>
        <div style="width: 100%;" style="display: none;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Role Id</mat-label>
                <input matInput [(ngModel)]="data.roleDetails.roleId" name="roleId" #roleId = "ngModel">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-button [mat-dialog-close]="data.roleDetails" cdkFocusInitial [disabled]="!roleForm.form.valid">Add</button>
            </mat-dialog-actions>
        </div>
    </form>
</div>