
/** migrate app css **/
.justify-space {
    justify-content: space-between;
}
.modelLists ul li, .select-environmet>div>div {
    margin-bottom: 6px;
}
.opaque {
    background-color: #767a7a1c;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.hdrGC {
    border-bottom: 1.5px solid rgba(0,0,0,0.12);
    padding: 18px 25px;
    position: fixed;
    left: 14%;
    right: 0px;
    background-color: #fafafa;
    z-index: 9;
}
.tHdr {
    font-size: 17px;
}
.fntw-500 {
    font-weight: 500;
}
.rdios>div:first-child {
    margin-right: 20px;
}
.rdios mat-radio-button {
    margin-right: 15px;
}
.opc5 {
    opacity: .5;
}

.d-f-jc-end {
    display: flex;
    justify-content: flex-end;
}
.cncl-c {
    background-color: #455a64;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
}
.dsp-B mat-checkbox, .dsp-B mat-radio-button {
    display: block;
}
.pdng-r-c mat-checkbox, .pdng-r-c mat-radio-button {
   padding: 8px 20px;
}

.pdng-r-c-n mat-form-field {
    padding: 3px 20px;
}
.ins-mg-dv-Bc {
    border-right:1px solid #edecec;
    width: 33.33%;
    position: relative;
}
.ins-mg-dv-Bc:nth-child(3) {
    border-right: none;
}
.ins-mg-dv-Mc {
    display: flex;
}

.border-bottom {
    border-bottom: 1px solid #edecec;
}
.pd-10-20 {
    padding: 10px 20px;
}
.sc-bx {
    height: 250px;
    overflow-y: scroll;
}

/* ::-webkit-scrollbar {
    width: 12px;
} */

/* Track */
::-webkit-scrollbar-track {
    /* -webkit-box-shadow:0 0 1px #706b6b;  */

}

/* Handle */

::-webkit-scrollbar-thumb {
    /* background:#b2b2b2; */
    /* -webkit-box-shadow:0 0 1px #706b6b;  */
}
::-webkit-scrollbar-thumb:window-inactive {
    /* background: #b2b2b2; */
}
.pdng-r-c {
    padding: 10px 0px;
}
::ng-deep .mat-warn-n-w {
    background:#f44336 !important;
    min-width: 200px !important;
    color: white;
    text-align: center;
}

::ng-deep .mat-sucs-n-s {
    background: #4F8A10!important;
    min-width: 200px !important;
    color: white;
    text-align: center;
}

::ng-deep .mat-errror-n-e {
    background: #df0202 !important;
    min-width: 200px !important;
    color: white;
    text-align: center;
}
.link-color {
    color: #A80927;
}

.example-box {
    border: solid 1px #ccc;
    cursor: move;
    border-radius: 4px;
    position: absolute;
    z-index: 999;
    top: -70px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
  }

  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .srch-draggable-box {
    background-color: rgb(117, 117, 117);
    color: white;
    padding: 15px 8px 8px;
  }

  .drgSInC {
      background-color: white;
      padding: 15px;
      border-radius: 2px;
  }
  .drgSInC mat-icon {
      color: gray;
  }
  .inP::-webkit-input-placeholder {
      font-size: 16px;
  }
  .hPF {
      padding: 0px 5px;
  }
  .srchIds {
    position: absolute;
    right: 20px;
    /* color: #7a7878; */
    opacity: 0.5;
    top: 9px;
  }
  .ps-r-t-3 {
      position: relative;
      top: 2px;
  }

  /** migrate app css **/

  /** configuration css**/
.nPdngTb {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.alIC {
    display: flex;
    align-items: center;
}
.frst-l-c::first-letter {
text-transform: capitalize;
}
.dangB {
    background-color: #db4437;
    color: white;
}
.align-middle {
    align-items: center;
}
.wdth-70-per {
    width: 70%;
}
.pdng-20 {
    padding: 20px;
}
.wdth-48-per >div {
    width: 48%;
}
.wdth-48-per >div>mat-form-field {
    width: 100%;
}

  /** configuration css**/

  /** dashboard css **/
  .opc7 {
    opacity: .7;
}

.mat-chip-cntr mat-chip {
    font: 400 13px / 20px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    background-color: #A80927;
    color: white;
}
.mat-chip-cntr mat-icon {
    color: white;
    opacity: .9;
}
.mat-tab-list {
    background-color: #f8f8f8;
}
.pdng-30-24 {
    padding: 30px 24px;
}
.bc-hdr-clr {
    background-color: #455a64;
    color: white;
}
.pdng-15-24 {
    padding: 15px 24px;
}
.pdng-15-10 {
    padding: 15px 10px;
}
.n-padng {
    padding: 0px;
}

.new_itm {
    align-items: center;
    background-color: #A80927;
    border-radius: 9px;
    color: #fff;
    display: inline;
    font-size: 11px;
    margin-left: 8px;
    min-height: 18px;
    padding: 1px 7px;
    text-align: center;
}

.wdth-45 mat-form-field {
    width: 45%;
}
.sc-bx-d {
    height: 300px;
    overflow-y: scroll;
}

table {
    width: 100%;
  }

td, th {
    white-space: nowrap;
    padding-left: 30px !important;
    padding-right: 30px !important;
}
th {
    z-index: 2 !important;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.mat-datatable-contnr {
    /* height: 409px;
    overflow: scroll; */
    border-radius: 3px;
}

/* .mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
} */

.mat-spinner-center, .no-data-available {
    position: absolute;
    z-index: 99;
    top: 51.9%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.tooltip {
    background-color: red !important;
}

  /** dashboard css **/

  .configContainer {
    width: 40% !important;
    margin-left: 12%;
  }

