<div class="appContainer">
    <div class="logoBlock"><img src="{{logoSrc}}"></div>
    <div class="labelsBlock">
        <ul>
            <li matRipple [ngClass]="{'activeMenu': breadScrum === 'dashboard'}" [routerLink]="['/dashboard']"><label class="label-dashboard lbl-m-r-10">Dashboard</label></li>
            <li *ngIf = "roleId ==1 || roleId ==3" matRipple [ngClass]="{'activeMenu': breadScrum === 'migration'}" [routerLink]="['/migration']" ><label class="label-home lbl-m-r-10">Migration</label></li>
            <li *ngIf = "roleId ==1 || roleId ==3" matRipple [ngClass]="{'activeMenu': breadScrum === 'configure App'}" [routerLink]="['/configure App']"><label class="label-settings lbl-m-r-10">Configure App</label></li>
            <li *ngIf = "roleId ==1 || roleId ==3" matRipple [ngClass]="{'activeMenu': breadScrum === 'user Settings' || breadScrum === 'role Profile'}" [routerLink]="['/user Settings']"><label class="user-settings lbl-m-r-10">User Settings</label></li>
            <!-- <li matRipple [routerLink]="['/users']"><label class="label-settings lbl-m-r-10">Logout</label></li> -->
        </ul>
    </div>
</div>
