.appContainer {
    position: fixed;
    left: 0px;
    top: 54px;
    bottom: 0px;
    background-color: #f1f1f1;
    width: 14%;
}

.label-home::before {
    content:"\f1d8";
    font-family: FontAwesome;
    font-size: 19px;
    color: grey;
}
.label-dashboard::before {
    content:"\f0e4";
    font-family: FontAwesome;
    font-size: 19px;
    color: grey;
}
.user-settings::before {
    content:"\f0c0";
    font-family: FontAwesome;
    font-size: 19px;
    color: grey;
}
.label-settings::before {
    content: "\f085";
    font-family: FontAwesome;
    font-size: 19px;
    color: grey;
}
.logoBlock {
    padding: 13px 25px;
    text-align: center;
}
.logoBlock img{
    max-width: 150px;
}
.labelsBlock {
    margin-top: 20px;
    /* padding: 0px 10px; */
}
.labelsBlock ul li {
     padding: 9px 15px;
    color: #202124;
    font-size: 14px;
    cursor: pointer;
    /* display: flex; */
    margin-bottom: 5px;
    
}
.labelsBlock ul li:last-child {
    border-bottom: none;
}

.lbl-m-r-10::before {
    margin-right: 15px;
}
/* .labelsBlock ul li:hover {
    background-color:#e7e7e7;
    border-radius: 0 50px 50px 0;
} */
.labelsBlock ul li label {
    cursor: pointer;
    display: flex;
}
.labelsBlock ul li:focus {
    outline: 0;
}
.activeMenu {
    background-color: rgba(69, 90, 100, 0.26);
    border-radius: 0 50px 50px 0;
    /* border-radius:50px; */
    /* opacity: .76; */
}
.activeMenu label::before {
    color: #202124 !important;
}


