<div class="limiter">
    <mat-progress-bar [mode]="mode" *ngIf = "status"> </mat-progress-bar>
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form [formGroup]="form" #LoginInformation (ngSubmit)="Login(LoginInformation)" class="login100-form validate-form flex-sb flex-w">
                <div class="login100-form-title p-b-51">
                    <img src="{{imagePath}}" class="s-wm-200">
                </div>

                
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
                    <input formControlName="uName" class="form-control input100" type="text" placeholder="Username Or Email">
                    <span class="focus-input100"></span>
                </div>
                
                
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                    <input formControlName="password" class="form-control input100"  type="password"  placeholder="Password">
                    <span class="focus-input100"></span>
                </div>
                
                <!-- <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            Forgot?
                        </a>
                    </div>
                </div> -->

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>