<div>
  <h2>Are you sure you want to migrate?</h2>
      <div>
        <mat-dialog-actions align="end">
          <button mat-button mat-dialog-close>Cancel</button>
          <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
        </mat-dialog-actions>
      </div>
</div>