<div>
    <h2>Please Select Dates</h2>
        <div class="display-flex justify-space" style="justify-content: space-between;">
            <mat-form-field appearance="outline">
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="picker1"  [max]="tomorrow" [(ngModel)] = "data.fromDate" [readonly]="true">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>To Date</mat-label>
                <input matInput [matDatepicker]="picker2"   [max]="tomorrow" [(ngModel)] = "data.toDate" [readonly]="true" >
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
          <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
          </mat-dialog-actions>
        </div>
  </div>