.justify-space {
    justify-content: space-between;
}
.modelLists ul li, .select-environmet>div>div {
    margin-bottom: 6px;
}
.opaque {
    background-color: #767a7a1c;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.hdrGC {
    border-bottom: 1.5px solid rgba(0,0,0,0.12);
    padding: 18px 25px;
    position: fixed;
    left: 14%;
    right: 0px;
    background-color: #fafafa;
    z-index: 9;
}
.tHdr {
    font-size: 17px;
}
.fntw-500 {
    font-weight: 500;
}
.rdios>div:first-child {
    margin-right: 20px;
}
.rdios mat-radio-button {
    margin-right: 15px;
}
.opc5 {
    opacity: .5;
}

.d-f-jc-end {
    display: flex;
    justify-content: flex-end;
}
.cncl-c {
    background-color: white;
    color: #A80927 ;
    float: right;
    margin-right: 10px;
}
.cncl-d{
    background-color: white;
    color: #A80927 ;
    float: left;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
}
.dsp-B mat-checkbox, .dsp-B mat-radio-button {
    display: block;
}
.pdng-r-c mat-checkbox, .pdng-r-c mat-radio-button {
   padding: 0px 20px 16px;
}
.pdng-r-c mat-checkbox:last-child, .pdng-r-c mat-radio-button:last-child {
    padding-bottom: 0px !important;
 }
.ins-mg-dv-Bc {
    border-right:1px solid #edecec;
    width: 33.33%;
    position: relative;
}
.ins-mg-dv-Bc:nth-child(3) {
    border-right: none;
}
.ins-mg-dv-Mc {
    display: flex;
}

.border-bottom {
    border-bottom: 1px solid #edecec;
}
.pd-10-20 {
    padding: 10px 20px;
}
.sc-bx {
    height: 195px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    /* -webkit-box-shadow:0 0 1px #706b6b;  */

}

/* Handle */

::-webkit-scrollbar-thumb {
    background:#b2b2b2;
    /* -webkit-box-shadow:0 0 1px #706b6b;  */
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #b2b2b2;
}
.pdng-r-c {
    margin: 15px 0px;
}
::ng-deep .mat-warn-n-w {
    background:rgba(69,90,100,1) !important;
    min-width: 300px !important;
    color: white;
    text-align: center;
}

::ng-deep .mat-warn-n-w .mat-simple-snackbar-action {
    color: #A80927 !important;
}

::ng-deep .mat-sucs-n-s {
    background: #4F8A10!important;
    min-width: 200px !important;
    color: white;
    text-align: center;
}

::ng-deep .mat-errror-n-e {
    background: #A80927 !important;
    min-width: 200px !important;
    color: white;
    text-align: center;
}
.link-color {
    color: #A80927;
}

.example-box {
    border: solid 1px #ccc;
    cursor: move;
    border-radius: 4px;
    position: absolute;
    z-index: 999;
    top: -70px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
  }

  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .srch-draggable-box {
    background-color: rgb(117, 117, 117);
    color: white;
    padding: 15px 8px 8px;
  }

  .drgSInC {
      background-color: white;
      padding: 15px;
      border-radius: 2px;
  }
  .drgSInC mat-icon {
      color: gray;
  }
  .inP::-webkit-input-placeholder {
      font-size: 16px;
  }
  .hPF {
      padding: 0px 5px;
  }
  .srchIds {
    position: absolute;
    right: 20px;
    /* color: #7a7878; */
    opacity: 0.5;
    top: 9px;
  }
  .ps-r-t-3 {
      position: relative;
      top: 2px;
  }

  .configContainer {
      width: 80% !important;
  }
  .tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 410px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 0%;
  padding: 5px;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 3%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
  }

.val{
  background-color: #A80927 ;
  float: right;
}



