<div @myInsertRemoveTrigger class="sphc">
    <div class="hdrGC display-flex justify-space">
        <div class="display-flex rdios">
            <div class="tHdr fntw-500">Module Type</div>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="moduleType" (change)="selectedModelType()">
                <mat-radio-button color="primary" name="Security" value="Security">Security</mat-radio-button>
                <mat-radio-button color="primary" name="Layout" value="Layout">Layout</mat-radio-button>
                <mat-radio-button color="primary" name="Adhoc" value="Reports" class="tooltip">Reports
                  <span class="tooltiptext">The XSD and XSl files are migrated as part of process.</span>
                </mat-radio-button>
                <mat-radio-button color="primary" name="App Config" value="App Config"  class="tooltip">App Config
                    <span class="tooltiptext">The rules and reports are not migrated under app config module.</span>
                  </mat-radio-button>
                <mat-radio-button color="primary" name="Rules" value="Rules">Rules</mat-radio-button>
                <mat-radio-button color="primary" name="Adhoc" value="CustomRules">Custom Rules</mat-radio-button>
            </mat-radio-group>
        </div>
        <div>Last Migrated: {{timestamp}} <mat-icon matTooltip="Pacific Time Zone (PT) Date" class="m-l-5 opc5 fs-20">
                help_outline</mat-icon>
        </div>
    </div>
    <div class="cGc configContainer">
        <div class="addNewBlock">
            <div class="hdr-cntr pdng display-flex justify-space">
                <div class=" fs-20">{{moduleType}}</div>
                <div class="fs-14 link-color" [routerLink]="['/dashboard']" style="cursor: pointer;">
                    <span class="text-middle"> OPEN REPORT</span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
            </div>

            <div class="ins-mg-dv-Mc">

                <div class="ins-mg-dv-Bc">
                    <div class="border-bottom pd-10-20 tHdr ">Source DB</div>
                    <div class="dsp-B pdng-r-c">
                        <mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="sourceDb" (change)="moduleType != 'App Config'?selectedsourceDb():selectAppConfig()">
                            <mat-radio-button color="primary" class="example-radio-button first-ltr-uppercase"
                                *ngFor="let source of envDatalists" [value]="source.dbEnvironmentType">{{source.dbEnvironmentType}}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="ins-mg-dv-Bc">
                    <div class="border-bottom pd-10-20 tHdr">Destination DB</div>
                    <div class="dsp-B pdng-r-c">
                        <mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="destinationDb">
                            <mat-radio-button color="primary" class="example-radio-button first-ltr-uppercase"
                                *ngFor="let destination of envDatalists|slice:1;" [value]="destination.dbEnvironmentType">{{destination.dbEnvironmentType}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="ins-mg-dv-Bc">
                    <div class="border-bottom pd-10-20 tHdr">
                        <span>{{idType}}</span>
                        <mat-icon matTooltip="Search {{idType}}" class="srchIds" (click)="show = 'open'">find_in_page
                        </mat-icon>
                    </div>
                    <div class="example-box srch-draggable-box" cdkDrag *ngIf="show == 'open'">
                        <div class="m-b-15 display-flex justify-space hPF">
                            <span class="fs-20">{{idType}}</span>
                            <mat-icon style="margin-top: -2px;" (click)="show = 'close'">close</mat-icon>
                        </div>
                        <div class="drgSInC">
                            <div>
                                <mat-icon>search</mat-icon>
                                <input type="text" placeholder="Search {{idType}}" [(ngModel)]="searchTerm"
                                    (ngModelChange)="search()" class="fs-18 text-middle m-l-10 inP">
                            </div>
                        </div>
                    </div>
                    <div class="dsp-B pdng-r-c sc-bx">
                        <mat-spinner color="primary" style="margin:0 auto;" diameter="30" *ngIf = "mainListsStatus"> </mat-spinner>
                        <mat-checkbox #checkBox [disabled]='moduleType=="App Config" && isChecked && (isCheckedDesc!=item.desc)'  (change)="onChange(item)" [(ngModel)] = "item.checked" color="primary" value=" {{item.id}}" *ngFor="let item of mainLists"
                            style="width: 100%;">
                            {{item.desc}} <mat-icon *ngIf='moduleType!="App Config"' matTooltip='{{item.id}}' class="m-l-5 fs-17 opc5 ps-r-t-3">
                                help_outline</mat-icon>
                        </mat-checkbox>

                    </div>
                </div>
            </div>
            <div class="bxbtn-cntr pdng" style="padding-bottom: 60px;">
                <button mat-raised-button color="primary" (click)="validateMigrate()" class="val">
                    <mat-icon class="fs-20">near_me</mat-icon> MIGRATE
                </button>
                <button mat-raised-button color="primary" class="cncl-c" (click)="resetForm()">
                    <mat-icon class="fs-20" style="color: #A80927 ;">refresh</mat-icon> RESET
                </button>
                <button mat-raised-button color="primary" class="cncl-d" (click)="restore()" *ngIf="moduleType=='Security' || moduleType=='Layout'">
                    <mat-icon class="fs-20" style="color: #A80927 ;">restore</mat-icon> RESTORE
                </button>
                
            </div>
        </div>
    </div>
</div>
