<div>
    <div class="display-flex justify-space" style="justify-content: space-between; align-items: baseline;">
      <h2 >Migrating...</h2>
      <h3 style="font-weight: 500;">{{completionStatus}} %</h3>
    </div>
    
        <div>
          <section class="example-section">
            <mat-progress-bar
                [color]="color"
                [mode]="mode">
            </mat-progress-bar>
          </section>
        </div>
        <div class="m-t-10 m-b-15">
            <!-- <mat-dialog-actions align="center">
              <button mat-button mat-dialog-close [mat-dialog-close]="true">Cancel</button>
            </mat-dialog-actions> -->
        </div>
  </div>