<div>
    <h2>Add New Environment</h2>
    <div style="width: 100%;">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Environment Name</mat-label>
            <mat-select [(ngModel)]="environmentName" name="environmentName">
                <mat-option  *ngFor = "let list of data.environmentList" value="{{list.name}}" [disabled] = "list.disabled">{{list.name}}</mat-option>
              </mat-select>
            <!-- <input matInput [(ngModel)]="environmentName" name="environmentName">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Like: Test, Prod, Dev, Qa</mat-hint> -->
        </mat-form-field>
    </div>
    <div>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button [mat-dialog-close]="environmentName" cdkFocusInitial>Add</button>
        </mat-dialog-actions>
    </div>
</div>
