
<div @myInsertRemoveTrigger class="sphc">
    <div class="hdrGC nPdngTb display-flex justify-space" style="height: 60px;">
        <mat-tab-group #tabGroup  (selectedTabChange)="selectedTab($event)">
            <mat-tab *ngFor = "let list of envDatalists" label="{{list.dbEnvironmentType | uppercase}}"></mat-tab>
        </mat-tab-group>
        <div class="alIC">
            <mat-icon class="m-l-5  fs-20" [matMenuTriggerFor]="menuC">more_vert</mat-icon>
            <mat-menu #menuC="matMenu">
                <button mat-menu-item (click) = "addNewEnv()">Add New Environment</button>
                <!-- <button mat-menu-item>Check Connectivity</button> -->
            </mat-menu>
        </div>
    </div>
    <div class="cGc configContainer wdth-70-per">
        <div class="addNewBlock">
            <div class="hdr-cntr pdng display-flex justify-space align-middle">

                <div class="fs-20 display-flex align-middle"> <mat-icon matTooltip="Verified" matSuffix class="verified_icon m-r-7" *ngIf = "environmentType.isThisDbEnvVerified == 1">check_circle</mat-icon><div class="frst-l-c"> {{envType}} Environment</div></div>
                <div class="fs-14 link-color">
                    <button mat-flat-button class="conB" (click) = "checkConnection()" [disabled] = "environmentType.clientDbCredentialId == null">TEST CONNECTION</button>
                </div>
            </div>
            <form (ngSubmit)="environmentType.clientDbCredentialId == null?onNewFormSubmit():onUpdateFormSubmit()" #environmentForm = "ngForm">
                <div class="ins-mg-dv-Mc pdng-20 wdth-48-per flex-wrap justify-space align-middle">
                        <div class="m-b-15" style="display: none;">
                            <mat-form-field appearance="outline">
                                <mat-label>ID</mat-label>
                                <input matInput type="number" [(ngModel)] = "environmentType.clientDbCredentialId" name = "clientDbCredentialId" #clientDbCredentialId = "ngModel">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="m-b-15" style="display: none;">
                            <mat-form-field appearance="outline">
                                <mat-label>isThisDbEnvVerified</mat-label>
                                <input matInput type="number" [(ngModel)] = "environmentType.isThisDbEnvVerified" name = "isThisDbEnvVerified" #isThisDbEnvVerified = "ngModel">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>
                        <!-- <div class="m-b-15">
                            <mat-form-field appearance="outline">
                                <mat-label>Environment Type</mat-label>
                                <input matInput [(ngModel)] = "environmentType.dbEnvironmentType" name = "dbEnvironmentType" #dbEnvironmentType = "ngModel">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div> -->
                        <div class="m-b-15">
                            <mat-form-field appearance="outline">
                                <mat-label>User Name</mat-label>
                                <input required matInput placeholder="Please enter User Name" [(ngModel)] = "environmentType.dbUsername" name = "dbUsername" #dbUsername = "ngModel">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>
                        <div  class="m-b-15">
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input placeholder="Please enter Password" matInput [type]="hide ? 'password' : 'text'" required name="dbPassword" [(ngModel)] = "environmentType.dbPassword" #dbPassword = "ngModel">
                                <button type = "button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>
                        <div  class="m-b-15">
                            <mat-form-field appearance="outline">
                                <mat-label>DB Server Name</mat-label>
                                <input matInput placeholder="Please enter DB Server Name " required name="dbServerName" [(ngModel)] = "environmentType.dbServerName" #dbServerName = "ngModel">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Port Number</mat-label>
                                <input matInput type="number" placeholder="Please enter Port Number"  required name="portNumber" [(ngModel)] = "environmentType.portNumber" #portNumber = "ngModel">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>
                        <div >
                            <mat-form-field appearance="outline">
                                <mat-label>Database Name</mat-label>
                                <input matInput placeholder="Please enter Database Name" required name="dbName" [(ngModel)] = "environmentType.dbName" #dbName = "ngModel">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="display-flex rdios">
                            <div class="fs-16 m-r-20">Database Type</div>
                            <mat-radio-group color="primary" required name="dbType" [(ngModel)] = "environmentType.dbType" #dbType = "ngModel">
                                <mat-radio-button value="SQLSERVER">SQL Server</mat-radio-button>
                                <mat-radio-button value="ORACLE">Oracle</mat-radio-button>
                                <mat-radio-button value="DB2">DB2</mat-radio-button>
                            </mat-radio-group>
                        </div>
                </div>
                <div class="bxbtn-cntr pdng d-f-jc-end">
                    <button [disabled] = "environmentType.clientDbCredentialId == null" type="button" mat-raised-button color="primary" class="cncl-c dangB" (click) = "deleteEnv(environmentType.clientDbCredentialId)">
                        <mat-icon class="fs-20">delete</mat-icon> DELETE
                    </button>
                    <button type="submit" mat-raised-button color="primary" [disabled]="!environmentForm.form.valid" class="sub">
                        <mat-icon class=" fs-20">near_me</mat-icon> SUBMIT
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
