.hdr-cmp-cntr {
    padding: 15px 2%;
    /* background: rgba(69,90,100,1); */
    background: #A80927;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9;
}
.disablePage {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgb(223, 223, 223);
    opacity: 0.7;
    z-index: 999;
    overflow: hidden;
}
.p_name {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;

}
.opc {
    opacity: .87;
}
.d_inline {
    display: inline-block;
}
.vAtB {
    vertical-align: text-bottom;
}
.pgn-contr {
    position: fixed;
    top: 54px;
    left: 14%;
    background-color: white;
    right: 0px;
    padding: 18px 25px;
    box-shadow: 2px 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    font-size: 20px;
    color: rgba(0,0,0,0.87);
    font-weight: 500;
    z-index: 99;
}
.pgn-contr::first-letter {
    text-transform: uppercase;
}

::ng-deep .mat-menu-panel {
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 46px !important;
}

.logout{
    line-height: 0px;
    height: 30px !important;
}

.m-r-20 {
  margin-right: 5px !important;
}

