<div  @enterAnimation class="disablePage" *ngIf = "loaderStatus == 'true'">
    <mat-progress-bar [mode]="mode"> </mat-progress-bar>
</div>

<div style="position: relative;">
    <div class="hdr-cmp-cntr">
        <div class="d_inline opc">
            <mat-icon matRipple [matRippleUnbounded]="true" [matRippleCentered]="true" [matRippleRadius]="22"
                class="d_inline vAtB m-r-10">menu</mat-icon>
            <div class="p_name d_inline"> Retelzy Incremental Migration</div>
        </div>
        <div class="display-flex float-r">
            <div class="m-r-20">
                <!-- <mat-icon matTooltip="Feedback" class="m-r-20" >feedback</mat-icon> -->
                <a href="{{rimDoc}}" download style="color: white;">
                    <mat-icon matTooltip="Help" class="m-r-20">help</mat-icon>
                </a>
                <!-- <mat-icon matTooltip="Notifications">notifications_none</mat-icon> -->
            </div>
            <div [matMenuTriggerFor]="menu">{{userName}}
                <mat-icon style="vertical-align: middle;">keyboard_arrow_down</mat-icon>
            </div>
            <!-- <button mat-button >Menu</button> -->
            <mat-menu #menu="matMenu">
                <!-- <button mat-menu-item>View Profile</button> -->
                <button mat-menu-item (click) = "logout()" class="logout">Logout</button>
            </mat-menu>

        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="pgn-contr" *ngIf = "!flag">{{breadScrum}}</div>
    <div class="pgn-contr" *ngIf = "flag"><span [routerLink]="['/user Settings']" style="font-weight: 400;">User Settings</span><mat-icon class="m-l-10 m-r-10">keyboard_arrow_right</mat-icon><span>Role Profile</span></div>

</div>
