
<div @myInsertRemoveTrigger class="sphc">
    <div class="hdrGC display-flex justify-space align-middle">
        <div class="display-flex rdios">
            <div class="opc7"> <mat-icon>filter_list</mat-icon></div>
            <div class="mat-chip-cntr">
                <mat-chip-list>
                    <mat-chip color="primary"><span>Module Type: {{moduleType}}</span>
                      <mat-icon matChipRemove (click) = "ModuleFilter(0)">edit</mat-icon>
                    </mat-chip>
                    <!-- <mat-chip color="primary">Date: Last 7 days
                        <mat-icon matChipRemove (click) = "ModuleFilter(1)">edit</mat-icon>
                    </mat-chip>
                    <mat-chip color="primary">Layout Id: 100115, and 3 More
                        <mat-icon matChipRemove (click) = "ModuleFilter(2)">edit</mat-icon>
                    </mat-chip> -->
                  </mat-chip-list>
            </div>

        </div>
        <div class="alIC">
            <mat-icon class="m-l-5  fs-20" [matMenuTriggerFor]="menuC">more_vert</mat-icon>
            <mat-menu #menuC="matMenu">
                <!-- <button mat-menu-item >Migration Date Lists</button> -->
                <button mat-menu-item (click) = "show = 'open'">Filter Data</button>
            </mat-menu>
        </div>
    </div>
    <div class="cGc configContainer">

        <div class="addNewBlock" [hidden] = "moduleType != 'Layout'">
           <div>
                <div style="position: relative;">
                    <div class="example-box srch-draggable-box" cdkDrag style="width: 30%;" *ngIf="show == 'open'">
                        <div class="m-b-15 display-flex justify-space hPF">
                            <span class="fs-20">Filter Data</span>
                            <mat-icon style="margin-top: -2px;" (click) = "show = 'close'">close</mat-icon>
                        </div>
                        <div class="drgSInC">
                            <div>
                                <mat-icon>search</mat-icon>
                                <input type="text" placeholder="Search" (keyup)="applyFilter($event)" class="fs-18 text-middle m-l-10 inP">
                            </div>
                        </div>
                    </div>
                </div>
              <div class="mat-datatable-contnr" style="position: relative;">

                <mat-spinner color="warn" style="margin:0 auto; " diameter="40" class="mat-spinner-center" *ngIf = "Hideflag"> </mat-spinner>
                <div *ngIf = "showNodataLayout" class="no-data-available">No Data Available</div>
                <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="{{data}}" *ngFor = "let data of displayedColumns; let i=index">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{layoutLabel.layoutLable[i]}} </th>
                    <td mat-cell *matCellDef="let row"> {{row[data]}} </td>
                </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
                </table>


              </div>
              <mat-paginator  [pageSizeOptions]="[10,20,50, 100, 500,1000]" class="mat-paginator-sticky"></mat-paginator>
           </div>
        </div>

        <div class="addNewBlock" [hidden] = "moduleType != 'Config App'">
            <div>
                 <div style="position: relative;">
                     <div class="example-box srch-draggable-box" cdkDrag style="width: 30%;" *ngIf="show == 'open'">
                         <div class="m-b-15 display-flex justify-space hPF">
                             <span class="fs-20">Filter Data</span>
                             <mat-icon style="margin-top: -2px;" (click) = "show = 'close'">close</mat-icon>
                         </div>
                         <div class="drgSInC">
                             <div>
                                 <mat-icon>search</mat-icon>
                                 <input type="text" placeholder="Search" (keyup)="applyFilterAppConfig($event)" class="fs-18 text-middle m-l-10 inP">
                             </div>
                         </div>
                     </div>
                 </div>
               <div class="mat-datatable-contnr" style="position: relative;">
 
                 <mat-spinner color="warn" style="margin:0 auto; " diameter="40" class="mat-spinner-center" *ngIf = "Hideflag"> </mat-spinner>
                 <div *ngIf = "showNodataAppConfig" class="no-data-available">No Data Available</div>
                 <table mat-table [dataSource]="dataSourceConfig" matSort>
                 <ng-container matColumnDef="{{data}}" *ngFor = "let data of displayedConfigColumns; let i=index">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header> {{layoutLabel.configAppLable[i]}} </th>
                     <td mat-cell *matCellDef="let row"> {{data !=='modifyTs'?row[data]: row[data] | date: 'dd/MM/yyyy'}} </td>
                 </ng-container>
                   <tr mat-header-row *matHeaderRowDef="displayedConfigColumns; sticky:true"></tr>
                   <tr mat-row *matRowDef="let row; columns: displayedConfigColumns;">
                   </tr>
                 </table>
 
 
               </div>
               <mat-paginator [pageSizeOptions]="[10,20,50, 100, 500,1000]" class="mat-paginator-sticky"></mat-paginator>
            </div>
         </div>
    </div>
</div>

<!--cherry pick code added here 1-->
<!--cherry pick code added here 2-->
<<<<<<< HEAD
=======
<!--cherry pick code added here 3-->
<!--cherry pick code added here 4-->

>>>>>>> 64ccb87... cherry pick 4
