<div>
    <div  class="fntw-500 fs-20 pdng-30-24 bc-hdr-clr">Dashboard Filter</div>
    <div>
        <mat-tab-group #tabGroup class="chng-bg-mat-tab" [selectedIndex]="data.matSelectIndex">
            <mat-tab label="MODULE TYPE">
                <div class="pdng-15-10">
                    <div class="dsp-B pdng-r-c sc-bx-d n-padng">
                        <mat-radio-group aria-label="Select an option" [(ngModel)]="data.moduleType">
                            <mat-radio-button  color="warn" name = "Security" value="Security" disabled>Security</mat-radio-button>
                            <mat-radio-button  color="warn" name = "Layout" value="Layout">Layout</mat-radio-button>
                            <mat-radio-button  color="warn" name = "Config App" value="Config App">Config App</mat-radio-button>
                            <mat-radio-button  color="warn" name = "Rules" value="Rules" disabled>Rules</mat-radio-button>
                            <mat-radio-button  color="warn" name = "Reports" value="Reports" disabled>Reports</mat-radio-button>
                            <mat-radio-button  color="warn" name = "Custom Process" value="Custom Process" disabled>Custom Process</mat-radio-button>
                        </mat-radio-group>
                    </div>
                   
                </div>
            </mat-tab>
            <!-- <mat-tab label="DATE RANGE">
                <div class="pdng-15-10">
                    <div class="dsp-B pdng-r-c sc-bx-d n-padng">
                        <mat-radio-group aria-label="Select an option" color="warn" [(ngModel)]="data.dateRange">
                            <mat-radio-button  color="warn" name = "Recent Migration" value="Recent Migration">Recent Migration (May 20, 2020) <span class="new_itm">New</span></mat-radio-button>
                            <mat-radio-button  color="warn" name = "Last 2 Migration" value="Last 2 Migration">Last 2 Migration</mat-radio-button>
                            <mat-radio-button  color="warn" name = "Last 3 Migration" value="Last 3 Migration">Last 3 Migration</mat-radio-button>
                            <mat-radio-button  color="warn" name = "Last 4 Migration" value="Last 4 Migration">Last 4 Migration</mat-radio-button>
                            <mat-radio-button  color="warn" name = "Last 5 Migration" value="Last 5 Migration">Last 5 Migration</mat-radio-button>
                            <mat-radio-button  color="warn" name = "Custom" value="Custom">Custom</mat-radio-button>
                        </mat-radio-group>
                        <div class="alIC justify-space wdth-45 pdng-r-c-n">
                            <mat-form-field color="warn" >
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="picker1" [(ngModel)] = "data.fromDate">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                            <div>-</div>
                            <mat-form-field color="warn">
                                <mat-label>End Date</mat-label>
                                <input matInput [matDatepicker]="picker2"  [(ngModel)] = "data.toDate">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2 color="primary"></mat-datepicker>
                            </mat-form-field>
                        </div>  
                    </div>
                   
                </div>
            </mat-tab>
            <mat-tab label="LAYOUT ID's">
                <div class="pdng-15-10">
                    <div class="dsp-B pdng-r-c sc-bx-d n-padng">

                        <mat-spinner color="warn" style="margin:0 auto; " *ngIf = "data.mainLists.length == 0" diameter="40"> </mat-spinner>
                         <mat-list-item  > 
                            
                            <mat-checkbox [(ngModel)] = "item.checked" *ngFor = "let item of data.mainLists?.reverse()" #checkBox color="warn" value = "{{item.id}}" style="width: 100%;">
                                {{item.desc}} <mat-icon  matTooltip='{{item.id}}' class="m-l-5 fs-17 opc5 ps-r-t-3">help_outline</mat-icon>
                            </mat-checkbox>
                         </mat-list-item>
                       
                        
                    </div>
                </div>
            </mat-tab> -->
        </mat-tab-group>
    </div>
    <div class="pdng-15-24 bxbtn-cntr" align="end">
            <button mat-button mat-dialog-close>CANCEL</button>
            <button mat-button [mat-dialog-close]="data.moduleType" cdkFocusInitial>APPLY</button>
        </div>
</div>