/* You can add global styles to this file, and also import other style files */

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    overflow-y: scroll;
  }





/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Ubuntu-Regular;
  /* src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');  */
}

@font-face {
  font-family: Ubuntu-Bold;
  /* src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');  */
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* body, html {
	height: 100%;
	font-family: Ubuntu-Regular, sans-serif;
} */

/*---------------------------------------------*/
a {
	/* font-family: Ubuntu-Regular; */
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #403866;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	/* font-family: Ubuntu-Regular; */
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #8f8fa1;}
input:-moz-placeholder { color: #8f8fa1;}
input::-moz-placeholder { color: #8f8fa1;}
input:-ms-input-placeholder { color: #8f8fa1;}

textarea::-webkit-input-placeholder { color: #8f8fa1;}
textarea:-moz-placeholder { color: #8f8fa1;}
textarea::-moz-placeholder { color: #8f8fa1;}
textarea:-ms-input-placeholder { color: #8f8fa1;}

label {
  display: block;
  margin: 0;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  /* font-family: Ubuntu-Regular; */
  font-size: 16px;
  color: #A80927;
  line-height: 1.4;
}



/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;;
}


.wrap-login100 {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding: 0px 32px;
}


/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  /* font-family: Ubuntu-Bold; */
  font-size: 30px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;

  width: 100%;
  display: block;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #e6e6e6;
  border: 1px solid transparent;
  border-radius: 3px;
}


/*---------------------------------------------*/
.input100 {
  /* font-family: Ubuntu-Bold; */
  color: #A80927;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  background: transparent;
  height: 62px;
  padding: 0 20px 0 38px;
}
/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #A80927;
  border-radius: 3px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  /* font-family: Ubuntu-Regular; */
  font-size: 16px;
  color: #999999;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #A80927;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #A80927;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  /* font-family: Ubuntu-Bold; */
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 62px;
  background-color: #A80927;
  border-radius: 3px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: #403866;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #A80927;
  border-radius: 3px;
  padding: 4px 25px 5px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  /* font-family: Ubuntu-Regular; */
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  /* font-family: FontAwesome; */
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
.s-wm-200 {
  max-width: 200px;
}

/*//////////////////////////////////////////////////////////////////[ Responsive ]*/
/** configuration css**/
.configContainer {
  width: 80%;
  /* margin-left: 26%; */
  margin: 0 auto;
  padding-top: 8%;
}
.addNewBlock {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  margin-bottom: 3%;
  background-color: white;
  border-radius: 3px;
}
.pdng {
   padding: 20px;
}
.btn-mn-cntr-ra {
   width: unset;
   height: unset;
   padding: 15px 30px;
}
.hdr-cntr {
   border-bottom: 1px solid #d5d5d5;
}
.bxbtn-cntr {
  border-top: 1px solid #d5d5d5;
}
.bxbtn-cntr >button:first-child {
  margin-right: 15px !important;
}
.rmvbck_adbrdr {
   background-color:unset;
   border: 1px solid #b2b2b2;
}
.wdth-30 {
   width: 30%;
}
.rmvbck_adbrdr .input100 {
   height: 47px;
   padding: 0 20px;
}
.dsplInline {
   display: inline-block;
}
.addedProj {
   border-bottom: 1px solid black;
   padding: 10px 20px 13px;
   display: flex;
   justify-content: space-between;
}
.rightDrpIcon::after {
   content: "\f105";
   font-family: FontAwesome;
   font-size: 20px;
}
.frmInput .input100 {
   height: 30px;
   padding: 0 10px;
   font-size: 15px;
}

.insideContainerDetails {
   display: flex;
   flex-wrap: wrap;
}
.wdth-100 {
  width: 100% !important;
  margin-left: 0% !important;
}
.insideContainerDetails >div {
   display: flex;
   width: 45%;
}
.insideContainerDetails >div:nth-child(2n) {
   margin-left: 10%;
}
.cntntPdng {
   padding: 25px 20px 28px;
}
.insideContainerDetails >div>div:first-child {
   min-width: 130px;
}
.inptCheckBox {
 display: flex;
 width: 100%;
}
.inptCheckBox input {
   height: 18px !important;

}
.inptCheckBox>div {

   display: flex;
}
.wdth-50-per>div {
   width: 50%;
}
.wdth_db_type>div:nth-child(1), .wdth_db_type>div:nth-child(3) {
   width: 30%;
}
.wdth_db_type>div:nth-child(2) {
   width: 40%;
}
.envTypeMn_box {
   border: 1px solid black;
}
.m-t-mi-3 {
   margin-top: -3px;
}
.wdth-100-per>div {
   width: 100%;
}
.pdng-10-30 {
   padding: 10px 30px;
}

.cstm-input-fields {
   border:1px solid #646363;
   padding: 0 10px;
   font-size: 15px;
   border-radius: 3px;
}
.cstm-input-fields:focus {
   border-color:unset !important;
}

.tablelists::after {
   content:"\f00d";
   font-family: FontAwesome;
   font-size: 20px;
   float: right;
}
.display-flex {
   display: flex;
}
.flex-wrap {
   flex-wrap: wrap;
}
.addTableList>div {
   border: 1px solid black;
   margin-right: 2%;
   margin-bottom: 2%;
   padding: 10px;
   cursor: pointer;
   transition: 1s linear all;
}
.addTableList>div:nth-child(3n) {
   margin-right: 0px;
}
.wdth-32 {
   width: 32%;
}
.dis-block-div {
  display: block !important;
}
.btn-success {
  background-color: #57c55c;
  font-size: 14px;
}
.pdng-10-20 {
  padding: 10px 20px;
}


/**configure css ends **/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-icon {
  cursor: pointer;
}
.sphc {
  margin-left: 14%;
  margin-top: 110px;
  position: relative;
}
.mat-icon {
  vertical-align: middle !important;
}
.mat-tab-nav-bar, .mat-tab-header {
  border: 0px;
}
.mat-tab-label {
  min-width: 100px !important;
  height: 60px !important;
}

.toast-container .ngx-toastr {
  box-shadow: none !important;
}

.custom-modalbox .mat-dialog-container {
  padding: 0px !important;
  overflow: hidden;
}
.chng-bg-mat-tab .mat-tab-list {
  background-color: #fafafa !important;
}
.first-ltr-uppercase .mat-radio-label-content,  .pdng-r-c mat-checkbox label {
  text-transform: lowercase;
}

.pdng-r-c mat-checkbox .mat-checkbox-label::first-letter, .first-ltr-uppercase .mat-radio-label-content::first-letter {
  text-transform: uppercase !important;
}

.mat-header-cell {
  font-size: 16px;
  color: rgba(0,0,0,0.87);
}

.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color: #A80927 !important;
}

.mat-radio-button.mat-primary .mat-radio-inner-circle, .mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-primary:active .mat-radio-persistent-ripple {
  background-color: #A80927  !important;
}

.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background{
  background-color: #A80927  !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke:#A80927  !important;
}

.mat-progress-bar-fill::after {
  background-color: #A80927;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #A80927;
}








